<div class="formrescale">
  <div class="row">
    <div class="col-xs-6 form-group indrescale">
      <label>Name</label>
      <input class="form-control" type="text" />
    </div>
    <div class="col-xs-6 form-group indrescale">
      <label>Phone Number</label>
      <input class="form-control" type="text" />
    </div>
    <div class="col-xs-6 form-group indrescale">
      <label>Email</label>
      <input class="form-control" type="text" />
    </div>
    <div class="col-xs-6 form-group indrescale">
      <label>Company Name</label>
      <input class="form-control" type="text" />
    </div>
  </div>
</div>
