<div class="wrap">
  <div class="fixedfill">
    
    <div class="icon-wrapper"><i class="fa fa-home custom-icon  faa-bounce animated" [class.highlighted]="data[0]" (click)="onHomeClick()"><span class="fix-editor">&nbsp;</span></i></div>
    
    <div class="icon-wrapper"><i class="fa fa-user-o custom-icon  faa-bounce animated" [class.highlighted]="data[1]" (click)="onUserClick()"><span class="fix-editor">&nbsp;</span></i></div>

    <div class="icon-wrapper"><i class="fa fa-camera custom-icon  faa-bounce animated" [class.highlighted]="data[2]" (click)="onCameraClick()"><span class="fix-editor">&nbsp;</span></i></div>

    <div class="icon-wrapper"><i class="fa fa-file-text-o custom-icon  faa-bounce animated" [class.highlighted]="data[3]" (click)="onTcClick()"><span class="fix-editor">&nbsp;</span></i></div>

    <div class="icon-wrapper"><i class="fa fa-check custom-icon  faa-bounce animated" [class.highlighted]="data[4]" (click)="onTickClick()"><span class="fix-editor">&nbsp;</span></i></div>
  </div>
</div>
