<div class="row">
  <div class="col-3 mx-auto">
    <div class="nauk-info-connections text-center">
      <button type="button" class="btn btn-warning btn-block">By clicking submit you are agreeing to the Terms and Conditions.</button>
      <div class="container">

        <h2>Emergency</h2>
        <p>
          <b>We will inform user with sms notification when there is emergency arrise in the building. In case of fire, blur blur blur blur.</b>
        </p>
        <h2>Terms &amp; Conditions</h2>
        <p>While estore.anewtech.net makes every effort to provide accurate specifications and description on all products,
          estore.anewtech.net is not responsible for errors in products specifications on this website. For complete descriptions,
          capabilities, and specifications, please check the manufacturer’s website for actual specifications.</p>

        <p>If you wish to purchase the product, please ensure that you have verified compatibility with your system by visiting
          the manufacturer's web site. estore.anewtech.net assumes no responsibility and will not accept returns for items
          purchased that are not compatible with your computer configuration.</p>

        <p><strong>Shipment:</strong><br /> Your order will be shipped from Singapore Warehouse. Shipment term:</p>

        <ul>
          <li><strong>EX-Works Singapore</strong> (Please assign your own forwarder. The buyer pays all transportation costs
            and also bears the risks for bringing the goods to their final destination. Anewtech does not load the goods
            on collecting vehicles and does not clear them for export.)</li>
          <li><strong>Pickup From Store</strong>
            <ul>
              <li>Store Details:<br />
                <strong>Anewtech Systems Pte Ltd</strong><br /> Blk 1026, Tai Seng Avenue #03-3544/3546<br /> Tai Seng Industrial
                Estate Singapore 534413<br /> Tel: +65 6292 0801&nbsp;&nbsp; Fax: +65 6292 0831<br /> Email: <a href="mailto:contactus@anewtech.com.sg">contactus@anewtech.com.sg</a></li>
            </ul>
          </li>
        </ul>

        <p><strong>Payment:</strong></p>

        <ul>
          <li>TT in advanced,bank charges will not be borne by Anewtech Systems</li>
          <li>Cheque</li>
          <li>Cash on Delivery</li>
        </ul>

        <p>Your order will not ship until we receive payment.</p>

        <p><strong>Delivery:</strong></p>

        <ul>
          <li>Instock orders placed today are usually shipped the next business day</li>
          <li>Out of stock items will take average 2~3 weeks upon receiving payment</li>
        </ul>

        <p><strong>Warranty:</strong></p>

        <ul>
          <li>12 months against manufacturing defects, RMA from Anewtech</li>
        </ul>
      </div>
    </div>
  </div>
</div>
