<div class="row">
    <div class="col-3 mx-auto">
        <div class="nauk-info-connections text-center">
            <h3>Terms &amp; Conditions</h3>
            <p>
While estore.anewtech.net makes every effort to provide accurate specifications and description on all products, estore.anewtech.net is not responsible for errors in products specifications on this website. For complete descriptions, capabilities, and specifications, please check the manufacturer’s website for actual specifications.

If you wish to purchase the product, please ensure that you have verified compatibility with your system by visiting the manufacturer's web site. estore.anewtech.net assumes no responsibility and will not accept returns for items purchased that are not compatible with your computer configuration.

Shipment:
Your order will be shipped from Singapore Warehouse. Shipment term:

EX-Works Singapore (Please assign your own forwarder. The buyer pays all transportation costs and also bears the risks for bringing the goods to their final destination. Anewtech does not load the goods on collecting vehicles and does not clear them for export.)
Pickup From Store
Store Details:
Anewtech Systems Pte Ltd
Blk 1026, Tai Seng Avenue #03-3544/3546
Tai Seng Industrial Estate Singapore 534413
Tel: +65 6292 0801   Fax: +65 6292 0831
Email: contactus@anewtech.com.sg
Payment:

TT in advanced,bank charges will not be borne by Anewtech Systems
Cheque
Cash on Delivery
Your order will not ship until we receive payment.

Delivery:

Instock orders placed today are usually shipped the next business day
Out of stock items will take average 2~3 weeks upon receiving payment
Warranty:

12 months against manufacturing defects, RMA from Anewtech
            </p>
        </div>
    </div>
</div>