    .div-content {
      width: 100%;
      padding: 5px
    }

    .div-inner {
      display: inline-block;
    }

    .btn-circle.btn-lg {
      width: 50px;
      height: 50px;
      padding: 0;
      font-size: 20px;
      line-height: 0;
      border-radius: 25px;
      border: none;
      outline: none;
    }

    .btn-circle:active {
      background: #111;
    }

    .floatcenter {
      width: 85%;
      padding: 0 auto;
      text-align: center;
      float: center;
    }

    .floatcenter p {
      padding-top: 10px;
      font-size: 14px;
    }

    .floatleft {
      float: left;
    }

    .floatright {
      float: right;
    }
    /* HORIZONTAL */

    @keyframes horizontal {
      0% {
        transform: translate(0, 0)
      }
      6% {
        transform: translate(5px, 0)
      }
      12% {
        transform: translate(0, 0)
      }
      18% {
        transform: translate(5px, 0)
      }
      24% {
        transform: translate(0, 0)
      }
      30% {
        transform: translate(5px, 0)
      }
      36%,
      100% {
        transform: translate(0, 0)
      }
    }

    .faa-horizontal.animated,
    .faa-horizontal.animated-hover:hover,
    .faa-parent.animated-hover:hover>.faa-horizontal {
      animation: horizontal 2s ease infinite;
    }

    .faa-horizontal.animated.faa-fast,
    .faa-horizontal.animated-hover.faa-fast:hover,
    .faa-parent.animated-hover:hover>.faa-horizontal.faa-fast {
      animation: horizontal 1s ease infinite;
    }

    .faa-horizontal.animated.faa-slow,
    .faa-horizontal.animated-hover.faa-slow:hover,
    .faa-parent.animated-hover:hover>.faa-horizontal.faa-slow {
      animation: horizontal 3s ease infinite;
    }
    /* PULSE */

    @keyframes pulse {
      0% {
        transform: scale(1.1)
      }
      50% {
        transform: scale(0.8)
      }
      100% {
        transform: scale(1.1)
      }
    }

    .faa-pulse.animated,
    .faa-pulse.animated-hover:hover,
    .faa-parent.animated-hover:hover>.faa-pulse {
      animation: pulse 2s linear infinite;
    }

    .faa-pulse.animated.faa-fast,
    .faa-pulse.animated-hover.faa-fast:hover,
    .faa-parent.animated-hover:hover>.faa-pulse.faa-fast {
      animation: pulse 1s linear infinite;
    }

    .faa-pulse.animated.faa-slow,
    .faa-pulse.animated-hover.faa-slow:hover,
    .faa-parent.animated-hover:hover>.faa-pulse.faa-slow {
      animation: pulse 3s linear infinite;
    }
