<!--
<div class="div-content">
     <div class="div-inner floatleft"><button type="button" class="btn btn-default btn-circle btn-lg"><i class="fa fa-chevron-left faa-pulse animated"></i></button></div>
     <div class="div-inner floatcenter"><p>{{mtitle}}</p></div>
     <div class="div-inner floatright"><button type="button" class="btn btn-default btn-circle btn-lg"><i class="fa fa-chevron-right faa-pulse animated"></i></button></div>
</div>
-->
<div row class="div-content">
  <div class="col-sm-1 text-left">
    <div class="previous">
      <button type="button" class="btn btn-default btn-circle btn-lg">
              <span class="fa fa-chevron-left faa-pulse animated"></span>
          </button>
    </div>
  </div>

  <div class="col-sm-10 text-center">
    <p class="middletext">{{mtitle}}</p>
  </div>

  <div class="col-sm-1 text-right">
    <div class="next">
      <button type="button" class="btn btn-default btn-circle btn-lg">
              <span class="fa fa-chevron-right faa-pulse animated"></span>
          </button>
    </div>
  </div>
</div>
