<div class="container">
 <wizard-navbar></wizard-navbar>
 <app-controls></app-controls>
 <app-surfacewelcome></app-surfacewelcome>
 <app-surfaceinfo></app-surfaceinfo>
 <app-surfacehost></app-surfacehost>
 <app-surfacephoto></app-surfacephoto>
 <app-surfacepolicy></app-surfacepolicy>
 <app-surfaceconfirm></app-surfaceconfirm>
</div>

index - name - group - pages - current
<ul *ngFor = "let item of customs">    
    <li>{{item.index}} - {{item.name}} - {{item.group}} - {{item.pages}} - {{item.current}}</li>
   
</ul>