<div class="container">
  <wizard-navbar></wizard-navbar>
  <app-controls [question]="question" (notifyIncrementCounter)="myIncrementCounter($event)" (notifyDecrementCounter)="myDecrementCounter($event)"></app-controls>
  <div [ngSwitch] = "type">
  <app-surfacewelcome *ngSwitchCase="'0'"></app-surfacewelcome>
  <app-surfaceinfo *ngSwitchCase="'1'"></app-surfaceinfo>
  <app-surfacehost *ngSwitchCase="'2'"></app-surfacehost>
  <app-surfacephoto *ngSwitchCase="'3'"></app-surfacephoto>
  <app-surfacepolicy *ngSwitchCase="'4'"></app-surfacepolicy>
  <app-surfaceconfirm *ngSwitchCase="'5'"></app-surfaceconfirm>
  </div>
</div>
<!--
<div class="container">
  <table>
    <tr>
      <th>index</th>
      <th>name</th>
      <th>group</th>
      <th>pages</th>
      <th>current</th>
    </tr>
    <tr *ngFor="let item of customs">
      <td>{{item.index}}</td>
      <td>{{item.name}}</td>
      <td>{{item.group}}</td>
      <td>{{item.pages}}</td>
      <td>{{item.current}}</td>
    </tr>
  </table>
</div>
-->